/*.article__item {*/

/*}*/

.attachments {
     display: flex;
     margin: auto;
     justify-content: center;
     gap: 2em;
 }

/* new 2 */
/*https://cdn.jsdelivr.net/gh/Kavehrafie/aaa/hacks.css*/