:root {
    --grid-gap: 2em;
}

.attachments {
     display: flex;
     margin: auto;
     justify-content: center;
     gap: 2em;
 }

/* Fixes the drop menu top border */
.is-submenu-item:first-child {
    border-top: 1px solid #8E8D8A;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
}

@media (width <= 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <= 500px) {
    .grid {
        display: block;
    }
}
/*https://cdn.jsdelivr.net/gh/Kavehrafie/aaa/hacks.css*/