:root {
    --grid-gap: 2em;
}

.attachments {
     display: flex;
     margin: auto;
     justify-content: center;
     gap: 2em;
 }

/* Fixes the drop menu top border */
.is-submenu-item:first-child {
    border-top: 1px solid #8E8D8A;
}

/* Index page styling */

.article__item {
    float: none;
    padding: 10px;
    width: auto;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: box-shadow 0.5s; /* Adding a transition for a smooth effect */
}

.article__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a box shadow on hover */
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
}

@media (width <= 960px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <= 800px) {
    .grid {
        display: block;
    }
    .grid .article__item {
        margin-bottom: 10px;
    }
}
/*https://cdn.jsdelivr.net/gh/Kavehrafie/aaa/hacks.css*/